<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script><head>
<style>
    body{background-color:lightblue}
    h1{color:blue}
    label{color:white}

</style>
 <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"> Code2do </a>
        </div>
            <div class = "collapse navbar-collapse navHeaderCollapse">
                <ul class ="nav navbar-nav navbar-right ">
                    {% if session.logged_in%}
                    <li class="active"><a class="navbar-brand" href="/todo"> Getting started </a></li>
                    <li class="active"><a class="navbar-brand" href="/logout"> Logout </a></li
                    {% else %}
                    <li class="active"><a class="navbar-brand" href="/todo"> Getting started </a></li>
                    <li class="active"><a class="navbar-brand" href="/register"> Sign up for free! </a></li
                    <li class="active"><a class="navbar-brand" href="/login"> login </a></li>
                    {% endif %}

                </ul>
            </div>



    </div>
</nav>


<head>
    <meta charset="UTF-8">
    <title>To-do list for coders</title>
</head>
<body>
<!--<img src="static/virtual-backpack-logo.png" width="250" height="200" />-->

<!--flash coding for messages-->
{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</body>
</html>